Repository cheulong/aws-photo-compressor-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_dev, plan_dev, apply_dev, validate_staging, plan_staging, apply_staging, validate_prod, plan_prod, apply_prod

validate_dev:
  stage: validate
  variables:
    TF_ROOT: dev
  script:
  - terraform validate

plan_dev:
  stage: plan
  variables:
    TF_ROOT: dev
  script:
  - terraform plan -out=tfplan
  needs:
  - validate_dev
  artifacts:
    paths:
    - tfplan

apply_dev:
  stage: apply
  needs:
  - plan_dev
  variables:
    TF_ROOT: dev
  script:
  - terraform apply -auto-approve tfplan

validate_staging:
  stage: validate
  variables:
    TF_ROOT: staging
  script:
  - terraform validate

plan_staging:
  stage: plan
  variables:
    TF_ROOT: staging
  script:
  - terraform plan -out=tfplan
  needs:
  - validate_staging
  artifacts:
    paths:
    - tfplan

apply_staging:
  stage: apply
  needs:
  - plan_staging
  variables:
    TF_ROOT: staging
  script:
  - terraform apply -auto-approve tfplan

validate_prod:
  stage: validate
  variables:
    TF_ROOT: prod
  script:
  - terraform validate

plan_prod:
  stage: plan
  variables:
    TF_ROOT: prod
  script:
  - terraform plan -out=tfplan
  needs:
  - validate_prod
  artifacts:
    paths:
    - tfplan

apply_prod:
  stage: apply
  needs:
  - plan_prod
  variables:
    TF_ROOT: prod
  script:
  - terraform apply -auto-approve tfplan

Edit main.tf
  dev/main.tf
Due: validate_dev, plan_dev, apply_dev

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Dev
  .gitignore
  dev/.terraform.lock.hcl
  dev/main.tf
  dev/outputs.tf
  dev/terraform.tfvars
  dev/variables.tf
  modules/vpc/README.md
  modules/vpc/main.tf
  modules/vpc/outputs.tf
  modules/vpc/variables.tf
  prod/main.tf
  prod/outputs.tf
  prod/terraform.tfvars
  prod/variables.tf
  staging/main.tf
  staging/outputs.tf
  staging/terraform.tfvars
  staging/variables.tf
Due: validate_dev, plan_dev, apply_dev, validate_staging, plan_staging, apply_staging, validate_prod, plan_prod, apply_prod

Edit backend.tf
  backend.tf
Due: none

Edit s3.tf
  s3.tf
Due: none

update: gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add: dev vpc
  .gitignore
  dev/.terraform.lock.hcl
  dev/backend.tf
  dev/main.tf
  dev/provider.tf
  dev/variables.tf
Due: validate_dev, plan_dev, apply_dev

Path conditions:
  validate_dev: any of: dev/**
  plan_dev: any of: dev/**
  apply_dev: any of: dev/**
  validate_staging: any of: staging/**
  plan_staging: any of: staging/**
  apply_staging: any of: staging/**
  validate_prod: any of: prod/**
  plan_prod: any of: prod/**
  apply_prod: any of: prod/**
