Repository cheulong/aws-photo-compressor-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_staging, plan_staging, apply_staging, validate_prod, plan_prod, apply_prod

validate_staging:
  stage: validate
  variables:
    TF_ENV: staging
  script:
  - terraform validate

plan_staging:
  stage: plan
  variables:
    TF_ENV: staging
  script:
  - terraform plan -out=tfplan
  needs:
  - validate_staging
  artifacts:
    paths:
    - tfplan

apply_staging:
  stage: apply
  needs:
  - plan_staging
  variables:
    TF_ENV: staging
  script:
  - terraform apply -auto-approve tfplan
  when: manual

validate_prod:
  stage: validate
  variables:
    TF_ENV: prod
  script:
  - terraform validate

plan_prod:
  stage: plan
  variables:
    TF_ENV: prod
  script:
  - terraform plan -out=tfplan
  needs:
  - validate_prod
  artifacts:
    paths:
    - tfplan

apply_prod:
  stage: apply
  needs:
  - plan_prod
  variables:
    TF_ENV: prod
  script:
  - terraform apply -auto-approve tfplan
  when: manual

update: gitlab-ci.yml
  .gitlab-ci.yml
Due: none

update: gitlab-ci.yml
  .gitlab-ci.yml
  dev/backend.tf
Due: none

update: gitlab-ci.yml
  .gitlab-ci.yml
  dev/provider.tf
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

update: gitlab-ci.yml
  dev/main.tf
Due: none

update: gitlab-ci.yml
  .gitlab-ci.yml
  dev/backend.tf
  dev/main.tf
Due: none

update: gitlab-ci.yml
  dev/main.tf
  dev/provider.tf
Due: none

update: gitlab-ci.yml
  dev/.terraform.lock.hcl
  dev/main.tf
  dev/outputs.tf
Due: none

update: dev vpc
  .gitignore
  .gitlab-ci.yml
  .terraform.lock.hcl
  backend.tf
  dev/backend.tf
  provider.tf
  s3.tf
  tfplan
Due: none

update: dev vpc
  dev/main.tf
  dev/outputs.tf
Due: none

update: staging vpc
  staging/.terraform.lock.hcl
  staging/backend.tf
  staging/main.tf
  staging/provider.tf
  staging/variables.tf
Due: validate_staging, plan_staging, apply_staging

update: staging vpc
  .gitlab-ci.yml
  staging/main.tf
Due: validate_staging, plan_staging, apply_staging

update: staging vpc
  staging/terraform.tfvars
Due: validate_staging, plan_staging, apply_staging

update: prod vpc
  prod/backend.tf
  prod/main.tf
  prod/provider.tf
  prod/terraform.tfvars
  prod/variables.tf
Due: validate_prod, plan_prod, apply_prod

update: gitlab-ci
  .gitlab-ci.yml
Due: none

add: s3 bucket
  dev/main.tf
  modules/s3/README.md
  modules/s3/main.tf
  modules/s3/outputs.tf
  modules/s3/variables.tf
Due: none

add: s3 bucket staging
  dev/outputs.tf
  staging/main.tf
  staging/outputs.tf
Due: validate_staging, plan_staging, apply_staging

add: s3 bucket prod
  .gitlab-ci.yml
  prod/.terraform.lock.hcl
  prod/main.tf
  prod/outputs.tf
Due: validate_prod, plan_prod, apply_prod

add: s3 bucket prod
  .gitlab-ci.yml
Due: none

add: s3 bucket prod
  .gitlab-ci.yml
  prod/main.tf
Due: validate_prod, plan_prod, apply_prod

update: gitlab ci
  .gitlab-ci.yml
Due: none

add: dynamodb dev
  dev/main.tf
  dev/outputs.tf
  modules/dynamodb/README.md
  modules/dynamodb/main.tf
  modules/dynamodb/outputs.tf
  modules/dynamodb/variables.tf
Due: none

add: dynamodb dev
  .gitlab-ci.yml
  dev/main.tf
Due: none

add: dynamodb staging
  staging/main.tf
  staging/outputs.tf
Due: validate_staging, plan_staging, apply_staging

Path conditions:
  validate_staging: any of: staging/**
  plan_staging: any of: staging/**
  apply_staging: any of: staging/**
  validate_prod: any of: prod/**
  plan_prod: any of: prod/**
  apply_prod: any of: prod/**
